<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
</head>
<body>
    <h1> 404 PAGE NOT FOUND</h1>
    <h4>Try this links instead</h4>
    <ul>
        <li><a href="http://127.0.0.1:4545/Users">Users</a></li>
        <li><a href="http://127.0.0.1:4545/Messages">Messages</a></li>
        <li><a href="http://127.0.0.1:4545/Groupchats">Groupchats</a></li>
        <li><a href="http://127.0.0.1:4545/Hashtags">Hastags</a></li>
        <li><a href="http://127.0.0.1:4545/ContactLists">Contact Lists</a></li>


    </ul>
</body>
</html>