<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conversing World</title>
</head>
<body>
    <p>
        <h1>Welcome the a Conversing World!</h1>
        <ul>
            <li><a href="http://127.0.0.1:4545/Users">All Users</a></li>
            <li><a href="http://127.0.0.1:4545/Messages">All Messages</a></li>
            <li><a href="http://127.0.0.1:4545/Groupchats">All Groupchats</a></li>
            <li><a href="http://127.0.0.1:4545/1/ContactList">A User Address Book</a></li>
            <li><a href="http://127.0.0.1:4545/Users/1">An User Information</a></li>
            <li><a href="http://127.0.0.1:4545/Groupchat/Gray-Mane's/Messages">Messages in a GroupChat</a></li>
            <li><a href="http://127.0.0.1:4545/Users/1/Messages">Messages Sent By an User</a></li>
            <li><a href="http://127.0.0.1:4545/Groupchats/1">Fetch GroupChat by ID</a></li>
        </ul>
    </p>
</body>
</html>